{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block navbar_links %}
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#visualizations">Visualizations</a></li>
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
{% endblock %}

{%block body %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Ewire</div>
            <div class="masthead-subheading">Welcome to Ewire<p>One step closer to Greece's Electrical Grid</p></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="primary-btn" href="#visualizations">Start Exploring</a>
        </div>
    </header>
    <!-- Visualizations -->
    <section class="page-section" id="visualizations">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Visualizations</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="container">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-industry fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="container">
                        <h4 class="my-3">Daily Load Forecast</h4>
                        <p class="text-muted">Daily Forecast made simple!</p> 
                        <p class="text-muted">Get notified about intense capacity hours and modify your electrical consumption towards a more responsible approach.</p>
                    </div>
                    <div class="container">
                        <a href="/daily">
                            <button class="btn btn-secondary btn-lg" id="btn-explore"><span class="explore">Explore</span></button>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-seedling fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="container">
                        <h4 class="my-3">Renewable Energy Infusion</h4>
                        <p class="text-muted">Renewable infusions made simple!</p>
                        <p class="text-muted">Stop inspecting the weather, trust the data. View the renewable energy infusion, just one click away.</p>
                    </div>
                    <div class="container">
                        <a href="/renewable">
                            <button class="btn btn-secondary btn-lg" id="btn-explore"><span class="explore">Explore</span></button>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-plug fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="container">
                        <h4 class="my-3">Responsible Consumer</h4>
                        <p class="text-muted">Ready to accept change?</p>
                        <p class="text-muted">We're happy to hear it! Explore are DIY Lamp and request more information about how you can contribute!</p>
                    </div>
                    <div class="container">
                        <a href='/consumer'>
                            <button class="btn btn-secondary btn-lg" id="btn-explore"><span class="explore">Explore</span></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Team</h2>
                <h3 class="section-subheading text-muted">Connect with us on social media.</h3>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/assets/img/team/ioanna.jpg" alt="Ioanna" />
                        <h4>Ioanna</h4>
                        <p class="text-muted">Electrical Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/assets/img/team/theodor.jpg" alt="Theodoros" />
                        <h4>Theodoros Athanasiadis</h4>
                        <p class="text-muted">Computer Scientist</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/theodorju"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/theodor.kourkoubinis.1"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/theodoros-athanasiadis/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="text-muted">This website was created as part of Theodoros' Thesis during his studies in 
                        Aristotle University of Thessaloniki, with the help and guidance of Ioanna.</p> 
                    <p class="text-muted">It was finalized years later as a pet project.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        {% if request.args.get('submitted') %}
        <div class="container">
            <div class="text-center ">
                <h2 class="section-heading">Thank you for your feedback.</h2>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading contact-text-muted">Share your ideas.</h3>
            </div>
            <div class="container">
                <form id="contactForm" action="/" method="POST">
                    <div class="form-row align-items-stretch">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Your name *" name="username">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Your email *" name="email">
                                <small id="emailHelp" class="form-text contact-text-muted">We'll never share your personal data with anyone else.</small>
                                <small id="emailError" class="invalidEmail">Please enter a valid email address.</small>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" id="message" rows="3" placeholder="Your message *" name="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-primary btn-lg" id="btn-contact" type="submit" _anchor="contact_form_anchor">submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </section>
    <section class="page-section" id="institutions">
        <!-- Institutions -->
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a class="top-scroll-trigger" href="#top"><img class="img-fluid d-block mx-auto" src="static/assets/img/logos/ewire-logo.png" alt="" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="https://www.auth.gr/en"><img class="img-fluid d-block mx-auto" src="static/assets/img/logos/auth-logo.png" alt="" /></a>
                        
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="https://www.eng.auth.gr/archiki.html"><img class="img-fluid d-block mx-auto" src="static/assets/img/logos/eng-auth-logo.png" alt="" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid d-block mx-auto" src="static/assets/img/logos/power-systems-lab-logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Index specific JS-->
    <script src="static/js/scripts.js"></script>
    <script src="static/js/form/form_validation.js"></script>
{% endblock %}

