{% extends "layout.html" %}

{% block title %} - Daily Forecast{% endblock %}

{% block head %}
    <!-- Scripts specific to this page-->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js" crossorigin="anonymous"></script>
{% endblock %}


{% block navbar_links %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#visualizations"><i class="fas fa-angle-double-left"></i> Go back</a></li>
{% endblock %}

{% block body %}

{% endblock %}